--extra-index-url https://download.pytorch.org/whl/cu113
torch==1.12.1+cu113
torchvision==0.13.1+cu113
torchaudio==0.12.1+cu113

--find-links https://data.pyg.org/whl/torch-1.12.1+cu113.html
torch-scatter 
torch-sparse
torch-cluster
torch-spline-conv

torch-geometric

numpy<1.24
requests
pyyaml<6.0
tensorboardX
MonkeyType
gym==0.17